/** Files with variables */

/** Color */
$light-background-color: lightgrey;
$light-font-color: #333;

$btn-color: #FF8C00;

/** Text & sizes */
$line-height: 1.4;
$h1-font-size: 2.4rem;
$h2-font-size: 2rem;
$h3-font-size: 1.4rem;
$font-size: 1rem;
$card-font-size: 4.5rem;


/** spaces */
$padding: 0.7rem;
$margin-bottom: 1.4rem;
$max-width: 960px;
$footer-height: 150px;