{% extends "base.html.twig" %}

{% block title %}API page{% endblock %}

{% block page_title %}API page{% endblock %}

{% block body %}
    <a href="{{ path('api_quote') }}" class="btn">Random quote & todays date and timestamp</a>
{% endblock %}